name: Build and test

on:
  workflow_call:
  push:
    branches: [main]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: npm ci

      - name: Lint files
        run: npm run lint

      - name: Test project
        run: npm run test

      - name: Build project
        run: npm run build
